*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.content{
width: 800px;


}

.container{
display: flex;
justify-content: center;
width: 100%;
margin: auto 0;
text-align: center;
font-family: 'Libre Franklin', sans-serif;
}



h2{
    font-size: 20px;
    text-transform: uppercase;
    padding: 40px 0;
}

h1{
    font-weight: 300;
    color: hsl(0, 0%, 59%);
}


.soon{
    font-weight: 700;
    color: black;
}

.blue-dot{
    color: hsl(223, 87%, 63%);
}

.subscribe{
    padding: 15px 0 20px 0;
}

#msg{
margin-top: 10px;
color: red;
margin-right: 185px;
}

#email{
    outline: none;
    padding: 12px 0;
    width: 400px;
    border-radius: 20px;
    color: hsl(223, 100%, 88%);
    border: 1px solid hsl(223, 100%, 88%);
    margin: 0 15px 50px 0;
}

#email::placeholder{
    color:  hsl(223, 100%, 88%);
    padding-left: 10px;
}


#btn{
    outline: none;
    padding: 12px 20px;
    width: 175px;
    border-radius: 20px;
    background-color: hsl(223, 87%, 63%);
    color: white;
    border:none;
    cursor: pointer;
}


img{
    max-width: 90%;
}

.social-links{
    display: inline;
    color: hsl(223, 87%, 63%);
    margin: 20px 10px 20px 0;
}

.copy{
    color: hsl(0, 0%, 59%);
    font-size: 11px;
    padding-top: 20px;;

}

@media only screen and (max-width: 665px){
    .container{
        max-width: 100%;
        display: flex;
        flex-direction: row;

    }

    #email{
        max-width: 100%;
        margin: 0 0 10px 0;
    }

    #btn{
     width: 73%;
     margin: 0 0 60px 0;
    }

    img{
        margin-bottom: 200px;

    }
}